<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    에코마켓 주문 상품 Mapper.xml
    @author : sehui
    @fileName : OrderItemMapper.xml
    @since : 250722
    @history
     - 250722 | sehui | 주문한 개별 상품 정보 저장 기능 추가
     - 250722 | sehui | 주문 상품 단건 조회 기능 추가
     - 250724 | sehui | 주문 상품 단건 조회에 JOIN 추가
     - 250728 | sehui | 주문 상품 단건 조회 메소드를 주문 상품 전체 조회로 변경
-->

<mapper namespace="com.ecovery.mapper.OrderItemMapper">

    <!-- OrderItemVO 매핑 -->
    <resultMap id="orderItemResultMap" type="com.ecovery.domain.OrderItemVO">
        <id property="orderItemId" column="order_item_id" />
        <result property="orderId" column="order_id" />
        <result property="itemId" column="item_id" />
        <result property="count" column="count" />
        <result property="orderPrice" column="order_price" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <!-- OrderItemDto 매핑 -->
    <resultMap id="orderItemMap" type="com.ecovery.dto.OrderItemDto">
        <id property="orderItemId" column="order_item_id" />
        <result property="price" column="price" />
        <result property="count" column="count" />
        <result property="orderPrice" column="order_price" />
        <result property="itemId" column="item_id" />
        <result property="itemName" column="item_name" />
        <result property="itemDetail" column="item_detail" />
        <result property="itemImgId" column="item_img_id" />
        <result property="imgName" column="img_name" />
        <result property="imgUrl" column="img_url" />
    </resultMap>

    <!-- 주문한 개별 상품 정보 저장 -->
    <insert id="insertOrderItem" parameterType="com.ecovery.domain.OrderItemVO" useGeneratedKeys="true" keyProperty="orderItemId">
        insert into order_item (order_id, item_id, count, order_price, created_at)
        values (#{orderId}, #{itemId}, #{count}, #{orderPrice}, NOW())
    </insert>

    <!-- 주문 상품 전체 조회 -->
    <select id="findOrderItemByOrderId" resultMap="orderItemMap">
        select
            oi.order_item_id,
            i.price,
            oi.count,
            oi.order_price,

            i.item_id,
            i.item_name,
            i.item_detail,
            img.item_img_id,
            img.img_name,
            img.img_url
        from order_item oi
            LEFT JOIN item i ON oi.item_id = i.item_id
            LEFT JOIN item_img img ON i.item_id = img.item_id AND img.rep_img_yn = 'Y'
        where oi.order_id = #{orderId}
    </select>

</mapper>