<!--
ECOVERY 공통 헤더 프래그먼트
모든 페이지에서 상단 네비게이션으로 포함되는 공통 header 영역
Thymeleaf layout:fragment="header"로 정의되어 layout에서 포함하여 사용
로그인/회원가입, 주요 메뉴 링크(홈, 서비스, 분리배출, 무료나눔, 에코마켓 등) 포함

@author : yukyeong
@fileName : header.html
@since : 250718
@history
    - 250718 | yukyeong | 공통 헤더 프래그먼트 작성
    - 250725 | 방희경 | main.html에 있는 코드로 수정
    - 250718 | yukyeong | 공지사항 이동경로 추가, 모바일 메뉴(햄버거 버튼)를 추가
    - 250718 | yukyeong | 게시판에 <li> 추가함
    - 2025XX | XX | 장바구니 아이콘 추가
-->

<header class="header" id="header" th:fragment="header"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container">
        <nav class="navbar">
            <div class="nav-container">
                <a href="/main" class="logo">
                    <img src="/img/logo.png" alt="ECOVERY 로고" class="logo-img">
                </a>
                <ul class="nav-menu" id="navMenu">
                    <li><a href="/main">홈</a></li>
                    <li><a th:href="@{/disposal/disposalMain}">분리배출</a></li>
                    <li><a th:href="@{/free/list}">무료나눔</a></li>
                    <li><a th:href="@{/eco/list}">에코마켓</a></li>
                    <li><a th:href="@{/env/list}">환경톡톡</a></li>
                    <li><a th:href="@{/notice/list}">공지사항</a></li>
                </ul>

                <div class="auth-buttons">
                    <!-- 또는 SVG 방식 (권장 - 더 전문적) -->
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/cart/list}" class="cart-icon" title="장바구니" aria-label="장바구니 보기">
                            <svg viewBox="0 0 24 24" role="img">
                                <path d="M7 18c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12L8.1 13h7.45c.75 0 1.41-.41 1.75-1.03L21.7 4H5.21l-.94-2H1zm16 16c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                            </svg>
                            <span class="cart-badge" th:if="${cartCount > 0}" th:text="${cartCount}"></span>
                        </a>
                    </div>

                    <div sec:authorize="isAnonymous()">
                        <a th:href="@{/member/login}" class="btn-login">로그인</a>
                        <a th:href="@{/member/signup}" class="btn-signup">회원가입</a>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/admin/main}" class="btn-login">관리자 페이지</a>
                    </div>
                    <div sec:authorize="hasRole('USER')">
                        <a th:href="@{/mypage}" class="btn-login">마이페이지</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/member/logout}" class="btn-signup">로그아웃</a>
                    </div>
                    <div class="hamburger" id="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>